Raw_To_Landing/pl_raw_to_landing.json
{
    "name": "pl_raw_to_landing",
    "objectId": "dff70747-fe77-4bc3-ae39-03346ed6eb2e",
    "properties": {
        "activities": [
            {
                "name": "Get Metadata from raw folder",
                "type": "GetMetadata",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "fieldList": [
                        "childItems"
                    ],
                    "datasetSettings": {
                        "annotations": [],
                        "connectionSettings": {
                            "name": "Sales_lakehouse",
                            "properties": {
                                "annotations": [],
                                "type": "Lakehouse",
                                "typeProperties": {
                                    "workspaceId": "e5f78a52-07c4-4086-9769-5cee61b48610",
                                    "artifactId": "f0d579cd-ba60-4a46-8bef-ee418dedecf4",
                                    "rootFolder": "Files"
                                },
                                "externalReferences": {
                                    "connection": "5914b554-140e-44b0-9cee-a14dc63de4b4"
                                }
                            }
                        },
                        "type": "DelimitedText",
                        "typeProperties": {
                            "location": {
                                "type": "LakehouseLocation",
                                "folderPath": "raw"
                            },
                            "columnDelimiter": ",",
                            "escapeChar": "\\",
                            "firstRowAsHeader": true,
                            "quoteChar": "\""
                        },
                        "schema": []
                    },
                    "storeSettings": {
                        "type": "AzureBlobStorageReadSettings",
                        "recursive": true,
                        "modifiedDatetimeStart": {
                            "value": "@startOfDay(utcNow())",
                            "type": "Expression"
                        },
                        "modifiedDatetimeEnd": {
                            "value": "@utcNow()",
                            "type": "Expression"
                        },
                        "enablePartitionDiscovery": false
                    },
                    "formatSettings": {
                        "type": "DelimitedTextReadSettings"
                    }
                }
            },
            {
                "name": "ForEach",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "Get Metadata from raw folder",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "items": {
                        "value": "@activity('Get Metadata from raw folder').output.childItems",
                        "type": "Expression"
                    },
                    "isSequential": true,
                    "activities": [
                        {
                            "name": "Raw to Landing",
                            "type": "TridentNotebook",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "typeProperties": {
                                "notebookId": "aaa9ca09-9a8a-4b24-96f6-04d89d9787bd",
                                "workspaceId": "e5f78a52-07c4-4086-9769-5cee61b48610",
                                "parameters": {
                                    "file_name": {
                                        "value": {
                                            "value": "@item().name",
                                            "type": "Expression"
                                        },
                                        "type": "string"
                                    },
                                    "processed_date": {
                                        "value": {
                                            "value": "@formatDateTime(utcNow(),'yyyy-MM-dd')",
                                            "type": "Expression"
                                        },
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    ]
                }
            }
        ],
        "lastModifiedByObjectId": "15155948-d28d-496b-b759-aaaebbd031ad",
        "lastPublishTime": "2026-02-13T10:19:41Z"
    }
}